@model IEnumerable<DHSOnlineStore.Models.CustomerServiceBooking>

<h2>My Bookings</h2>

@if (Model.Any())
{

    <table class="table table-hover table-striped align-middle shadow-sm">
            <tr>
                <th>Product</th>
                <th>Service Type</th>
                <th>Preferred Date</th>
                <th>Status</th>
            </tr>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Product</td>
                    <td>@booking.ServiceType</td>
                    <td>@booking.PreferredDate.ToString("yyyy-MM-dd")</td>
                    <td>@booking.Status</td>
                </tr>
            }
    </table>
}
else
{
    <div class="alert alert-info text-center" role="alert">
        <i class="bi bi-exclamation-circle"></i> You haven't made any bookings.
    </div>
}
