@{
    ViewData["Title"] = "Our Services";
}

<h1>Our Services</h1>
<ul>
    <li><a asp-action="StationaryGuards">Stationary and Patrolling Guards</a></li>
    <li><a asp-action="GateGuarding">Gate and Boom Guarding</a></li>
    <li><a asp-action="CCTVInstallation">CCTV Installation and Monitoring</a></li>
    <li><a asp-action="ArmedReaction">Armed Reaction</a></li>
    <li><a asp-action="FireEvacuation">Fire and Evacuation Emergency</a></li>
    <li><a asp-action="HealthEmergency">Health and Accident Emergency</a></li>
    <li><a asp-action="AccessControl">Access Control</a></li>
    <li><a asp-action="AlarmInstallation">Alarm Installation</a></li>
    <li><a asp-action="CleaningServices">Cleaning Services</a></li>
    <li><a asp-action="ICTServices">Information Communication Technology (ICT) Services</a></li>
</ul>
